.idea/

hello-thundra/.serverless/
content/ThundraSampleLambda/src/ThundraSampleLambda/bin
content/ThundraSampleLambda/src/ThundraSampleLambda/obj
content/ThundraSampleLambda/test/ThundraSampleLambda.Tests/bin
content/ThundraSampleLambda/test/ThundraSampleLambda.Tests/obj
content/ThundraSampleLambda/src/ThundraSampleLambda/obj
content/ThundraSampleLambda/src/ThundraSampleLambda/obj/Debug/netcoreapp2.1/ThundraSampleLambda.csproj.CoreCompileInputs.cache

Thundra.Templates.0.0.1.nupkg
content/.DS_Store
content/ThundraSampleLambda/src/ThundraSampleLambda/.DS_Store
.DS_Store